:root {
  --main-color: #ff9002;
  --primary-color: #002952;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 16px;
}

.c-main {
  color: var(--main-color);
}

.c-primary {
  color: var(--primary-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-primary {
  background-color: var(--primary-color);
}
.font-inter {
  font-family: "Inter";
}
/* Responsive Device here */
/* Large PC */
@media only screen and (min-width: 1600px) {
  body {
      width: 1920px;
  }
}

/* Medium PC */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {

}

/* PC */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* Tablet */
@media only screen and (min-width: 576px) and (max-width: 992px) {

}

/* Mobile */
@media only screen and (max-width: 576px){

}

